* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
  border: 1px solid black;
  height: 100vh;
  background-color: wheat;
}

.container {
  justify-content: space-around;
  width: 35%;
  margin: auto;
  border: 1px solid black;
  background-color: #300000;
}

/* input text */
.container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container input {
  margin: 10px;
  padding: 5px;
  width: 70%;
  text-align: right;
  border-radius: 5px;
  border: 1px solid black;
}

.container .keys {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container button {
  width: 60px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.keys button {
  background-color: gray;
}

.keys button.memory {
  background-color: wheat;
  color: black;
}

.keys button.val {
  background-color: whitesmoke;
  color: #400000;
}

.keys button.operator {
  background-color: #400000;
  color: whitesmoke;
  border: 1px solid gray;
}

/* media queries */

@media screen and (max-width: 1000px) {
  .container {
    width: 40%;
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 45%;
  }
}

@media screen and (max-width: 770px) {
  .container {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 55%;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 65%;
  }
}

@media screen and (max-width: 540px) {
  .container {
    width: 75%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}
