* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
  border: 1px solid black;
  height: 100vh;
  background-color: beige;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  margin: auto;
  border: 1px solid black;
  background-color: cadetblue;
}

/* input text */
.container .display {
  margin: 5px 0 5px 5px;
  padding: 5px;
  width: calc(100% - 70px);
  text-align: right;
  border-radius: 5px;
  border: 1px solid black;
}

.container button {
  width: 45px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.keys .constants button {
  background-color: lightsteelblue;
}

.keys .operators button {
  background-color: grey;
  color: whitesmoke;
}

.container .keys {
  display: flex;
  flex-direction: row;
}

.keys .operators {
  display: flex;
  flex-direction: column;
}
